<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">
    <!-- http://stackoverflow.com/questions/6020545/java-util-logging-logger-to-logback-using-slf4j -->
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <!-- reset all previous level configurations of all j.u.l. loggers -->
        <resetJUL>true</resetJUL>
    </contextListener>

    <!-- 콘솔에 출력하는 Appender -->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <!--<filter class="peatio.common.config.SampleFilter" />-->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %5p %40.40c{1}:%4L - [%10.10t] %m%n</pattern>
        </encoder>
    </appender>
    <!-- 매일 새로운 파일로 출력하는 Appender -->
    <appender name="dailyRollingFileAppender"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${PEATIO_HOME}/data/logs/peatio.log.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <!--<filter class="peatio.common.config.SampleFilter" />-->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %5p %40.40c{1}:%4L - [%10.10t] %m%n</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="info"/>
    <logger name="org.springframework.boot" level="warn"/>
    <logger name="org.springframework.context" level="warn"/>
    <logger name="org.springframework.messaging" level="info"/>
    <logger name="org.springframework.orm.jpa" level="warn"/>
    <logger name="org.springframework.security" level="warn"/>
    <logger name="org.springframework.security.oauth2" level="warn"/>
    <logger name="org.springframework.test" level="warn"/>
    <logger name="org.springframework.transaction" level="warn"/>
    <logger name="org.springframework.web" level="warn"/>
    <logger name="org.springframework.web.socket" level="info"/>

    <logger name="springfox.documentation.spring.web" level="warn"/>

    <logger name="com.sun.xml.internal.messaging.saaj.soap" level="info"/>
    <logger name="com.atomikos" level="warn"/>
    <logger name="org.dozer" level="warn"/>
    <logger name="org.hibernate" level="warn"/>
    <logger name="org.quartz" level="warn"/>
    <logger name="com4j" level="all"/>

    <!-- for MariaDB4j -->
    <logger name="ch.vorburger.exec.ManagedProcess" level="warn"/>

    <!-- for mybatis -->
    <logger name="org.jooq" level="warn"/>
    <logger name="org.apache.ibatis" level="info"/>
    <logger name="org.mybatis" level="info"/>
    <logger name="org.mybatis.generator" level="info"/>
    <logger name="java.sql" level="info"/>

    <property name="mapper_logger_level" value="info"/>
    <!-- mapper -->
    <!-- for jdbcTemplate -->
    <logger name="org.springframework.jdbc" level="${mapper_logger_level}"/>


    <logger name="hsqldb.db" level="warn"/>
    <logger name="com.wix" level="info"/>
    <logger name="org.dbunit" level="info"/>
    <logger name="org.apache.activemq" level="info"/>
    <logger name="jsoup" level="info"/>
    <logger name="org.docx4j" level="off"/>

    <!-- peatio -->
    <logger name="org.peatio" level="info"/>


    <root>
        <level value="info"/>
        <appender-ref ref="stdout"/>
        <appender-ref ref="dailyRollingFileAppender"/>
    </root>

</configuration>
