<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">
            org.hibernate.dialect.MySQL5InnoDBDialect
        </property>
        <property name="hibernate.connection.driver_class">
            org.mariadb.jdbc.Driver
        </property>
        <property name="hibernate.connection.url">
            jdbc:mariadb://localhost:3306
        </property>
        <property name="hibernate.default_schema">
            peatio_development
        </property>
        <property name="hibernate.default_catalog">
            peatio_development
        </property>
        <property name="hibernate.connection.username">
            root
        </property>
        <property name="hibernate.connection.password">
        </property>
    </session-factory>
</hibernate-configuration>
